---
layout: default
title: Home
---
<main class="masthead">
    <div class="container">
      <div class="row py-5">
          <div class="col mx-auto">
              <div class="row py-2">
                  <div class="col-3 mx-auto">
                      <img src="/assets/img/hollow_logo.svg" width="100">
                  </div>
                  <div class="col">
                      <h1 class="text-primary text-center text-md-left display-3">Runaway</h1>
                  </div>
              </div>
              <p class="lead text-center text-md-left"> A simple tool to help you in deploying experimental campaigns to high-performance clusters.</p>
              <hr class="my-3">
              <p class="text-center text-md-left">Runaway is a command line-tool that allows you to launch a significant number of simultaneous executions of your code on a remote resource, with one single call. Whatever the scale and the resource, results are one command away from your laptop.</p>
          </div>

          <div class="col my-auto">
              <div class="card text-center shadow-sm">
                  <div class="card-header">
                      <h5 class="card-title">Install version {{ site.version }}</h5>
                      <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item">
                              <a class="nav-link active" id="linux_button">Linux</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="osx_button">Osx</a>
                          </li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <p class="card-text">To download the latest binary:</p>
                      <div class="alert alert-secondary">
                          <code>$ curl <span id="download_link">{{site.linux_link}}</span></code>
                      </div>
                      <p style="font-size: 80%">
                          First install? Checkout the <a href="/docs/install">install</a> section of the documentation.
                      </p>
                  </div>
                  <div class="card-footer text-muted">
                      md5: <span id="download_md5">{{ site.linux_md5 }}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<div class="snippets">
    <div class="container py-5">
        <div class="row py-3">
            <div class="col my-auto mx-auto order-lg-last pb-4">
                <h2 class=" text-center text-lg-left ">Remote execution in one line</h2>
                <hr>
                <p class="text-justify">
                    Runaway synchronizes your code with the remote cluster, allocates the necessary resources, executes and fetches data automatically.
                </p>
            </div>
            <div class="col mx-auto order-lg-first">
                <div class="card bg-secondary text-white shadow-sm">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11 text-center">Terminal</div>
                            <div class="col-1 text-right"><i class="fas fa-times-circle"></i></div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% capture snippet %}{% include snippets/exec.md %}{% endcapture %}
                        {{ snippet | markdownify }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-3">
            <div class="col my-auto mx-auto pb-4">
                <h2 class=" text-center text-lg-left ">Experimental campaign made simple</h2>
                <hr>
                <p class="text-justify">
                    Want to run a batch of experiments for your campaign? The <code>batch</code> subcommand is here to help. Only a file containing the different arguments is needed.
                </p>
            </div>
            <div class="col mx-auto">
                <div class="card bg-secondary text-white shadow-sm">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11 text-center">Terminal</div>
                            <div class="col-1 text-right"><i class="fas fa-times-circle"></i></div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% capture snippet %}{% include snippets/batch.md %}{% endcapture %}
                        {{ snippet | markdownify }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-3">
            <div class="col my-auto mx-auto order-lg-last pb-4">
                <h2 class=" text-center text-lg-left ">Adapt to your workflow easily</h2>
                <hr>
                <p class="text-justify">
                    Hyper-parameters optimization, rescheduling, campaign analysis... All use cases can not be solved by running batches of executions. Runaway allows you to harness its power with your own logic, through its scheduling command.
                </p>
            </div>
            <div class="col mx-auto order-lg-first">
                <div class="card bg-secondary text-white shadow-sm">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11 text-center">Terminal</div>
                            <div class="col-1 text-right"><i class="fas fa-times-circle"></i></div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% capture snippet %}{% include snippets/sched.md %}{% endcapture %}
                        {{ snippet | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spots">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-lg mx-auto">
                <h1 class="text-center">Simple</h1>
                <hr>
                <p class="text-justify">
                    Runaway is a simple command-line tool, meant to follow the unix philosophy. In particular, it stays out of your code, and does not require a full rewrite of your experiments to be used.
                </p>
            </div>
            <div class="col-12 col-lg mx-auto">
                <h1 class="text-center">Versatile</h1>
                <hr>
                <p class="text-justify">
                    Instead of using a target-specific agent on the remote end, Runaway uses a template system, which can be adapted to a wide range of resources. University cluster, cloud resources, or shared computer in the office, all of them can be adapted writing a bunch of bash commands.
                </p>
            </div>
            <div class="col-12 col-lg mx-auto">
                <h1 class="text-center">Scalable</h1>
                <hr>
                <p class="text-justify">
                    Thanks to its asynchronous handling of executions, it can easily scale to manage a large amount of simultaneous executions. If you have a large campaign in mind, Runaway can handle it.
                </p>
            </div>
        </div>
    </div>
</div>

<script>
 // This script changes the install code when clicking the linux button
 $("#linux_button").click(function(){
     $("#osx_button").removeClass('active');
     $(this).addClass('active');
     $("#download_md5").text("{{site.linux_md5}}");
     $("#download_link").text("{{site.linux_link}}");
 });

 // This script changes the install code when clicking the osx button
 $("#osx_button").click(function(){
     $("#linux_button").removeClass('active');
     $(this).addClass('active');
     $("#download_md5").text("{{site.osx_md5}}");
     $("#download_link").text("{{site.osx_link}}");
 });
</script>
