<footer class="footer fixed-bottom shadow-sm">
    <div class="container text-white font-weight-bold">
        <div class="row py-2">
            <div class="col mx-auto text-center">
                Developed in the <a class="text-white font-italic" href="https://flowers.inria.fr/">flowers team</a> at <a class="text-white font-italic" href="https://www.inria.fr/en">Inria</a>.
            </div>
        </div>
    </div>
</footer>
