<nav class="navbar navbar-expand fixed-top navbar-dark flex-column flex-md-row bg-primary topbar shadow-sm">
    <a class="navbar-brand" href="/">
        <img src="/assets/img/logo.svg" width="30" height="30" class="d-inline-block" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
            {% for item in site.data.topbar %}
            <li class="nav-item {% if page.url contains item.prefix %} active{% endif %}">
                <a class="nav-link" href="{{item.link}}">{{item.name}}<span class="sr-only">(current)</span></a>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" href="https://gitlab.inria.fr/runaway/runaway">
                    <i class="fab fa-gitlab"></i> {{site.version}}
                </a>
            </li>
        </ul>
    </div>
</nav>
