<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Runaway | {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/highlight/theme.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
</head>
