// Imports the fonts from google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Quicksand|Inconsolata&display=swap');

// Reset a few variables and load bootstrap
$primary: #90CC5E;
$font-family-sans-serif:  "Quicksand", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   "Inconsolata", Consolas, "Courier New", monospace !default;
@import "../bootstrap/bootstrap.scss";

// Our own classes
$light-gray: #f9f9f9;
$darker-gray: #eeeeee;
$dark-gray: #5f666d;
$darker-green: #79ab50;
html {
    position: relative;
    min-height: 100%;
}
.content{
    @include media-breakpoint-up(sm){
        margin-top: 45px;
    }
    @include media-breakpoint-down(sm){
        margin-top: 87px;
    }
}
.masthead{
    background-image: url('/assets/img/pattern.png');
    background-size: 50%;
}
.shell{
    font-family: $font-family-monospace;
    font-size: 110%
}
.snippets{
    background-color: $light-gray;
    border-top: 1px solid $darker-gray;
}
.spots{
    border-top: 1px solid $darker-gray;
    background-image: url('/assets/img/pattern.png');
    background-size: 50%;
}
.topbar{
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 5px solid $darker-green;
}
.footer{
    position: absolute;
    bottom: 0;
    z-index: 1000 ;
    background-color: $primary;
    border-top: 5px solid $darker-green;
}
.doctoc{
    background-color: $light-gray;
    @include media-breakpoint-up(lg) {
        border-right: 1px solid $primary;
        height: 100%;
        position: fixed;
        z-index: 1;
    }
    @include media-breakpoint-down(lg) {
        border-bottom: 1px solid $primary;
    } 
}
.doctoc ul{
    @include media-breakpoint-up(md){
        padding-left: 10px;
    }
    @include media-breakpoint-down(md){
        padding-left: 40px;
    }
}
.doctoc a{
    color: $dark-gray;
    text-decodation: none;
}
.doctoc .major{
    font-weight: bold;
    font-size: 110%;
}
.doc{
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.doc div.highlight{
    @extend .shadow-sm;
    padding-left: 10px;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    font-size: 110%;
}
.doc pre{
    margin-bottom: 0px;
}
.doc-headline{
    font-size: 120%;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.doc table{
    @extend .table;
}

.highlighter-rouge{
    margin-bottom: 15px;
}

