<!doctype html>
<html lang="en">
    {% include prelude.html %}
    <body class="d-flex flex-column">
        {% include navbar.html %}
        <div class="content mb-4">
            {{ content }}
        </div>
        {% include footer.html %}
        {% include postlude.html %}
    </body>
</html>
