---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="doctoc col-12 col-lg-2 pt-3 shadow-sm">
                <h5 class="text-center">Documentation</h5>
                <hr class="fg-primary">
                <br>
                <ul>
                    {% assign pages = site.docs | sort:"index" %}
                    {% for item in pages %}
                    <li>
                        <a href="{{item.url}}" class="major {% if item.url==page.url %}active{% endif %}" >
                            {{ item.title }}
                        </a>
                    </li>
                    {% if item.url==page.url %}
                        <br/>
                        {% toc %}
                        <br/>
                    {% endif %}
                    {% endfor %}
                </ul>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-12 col-lg-10 col-xl-8 my-4">
            <h1 class="display-3">{{page.title}}</h1>
            <div class="doc-headline">{{page.headline}}</div>
            <hr>
            <div class="doc">
                {{content}}
            </div>
        </div>
        <div class="col-xl-2">
        </div>
    </div>
</div>
